@import '../../base.scss';

.MenuNav {
  padding: 1em 2em;
  background-color: black;
  color: white;
  display: flex;
  order: 1;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}


.pane__menu-label {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.85em;
  padding: 0.8em 0em;
}

.pane__menu-toc {
  padding: 1em 0em;
}

.pane__menu-toc__sec {
  margin-bottom: 5.3em;

  .sec-label {
    color: #ababab;
    text-transform: uppercase;
    font-size: 0.7em;
    border-bottom: 1px solid #333;
    padding-bottom: 0.2em;
  }

  .sec-menu-items {
    display: flex;
    padding: 0.5em 1em;

  }

  .sec-menu-item {
    margin-bottom: 2em;
    height: 14em;
    width: 21em;
    background-color: #440f0f;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 5em;
    padding: 0.8em 0.8em;
  }

  
  .sec-menu-item__icon {
    text-align: center;
  }
  
  .sec-menu-item__name {
    font-size: 1.8em;
    font-family: $HeadingFont;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 0.4em;
    margin-right: 1em;
    text-align: center;
  }

  .sec-menu-item__preview {
    color: #929292;
    text-align: center;
  }
}