

.MenuInfoPane {
  background-color: rgba(0, 0, 0, 0.78);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  height: 100%;
  padding: 1em 2em;
  border-right: 3px solid #464646;
  overflow-x: hidden;
  overflow-y: scroll;
}


.pane__venue-title {
  padding: 1.1em;
  text-align: center;
}

.welcometxt {
  text-align: center;
}

.pane__venue-section {
  padding: 0.2em 1em;



  // split layout on ending container
  &.end {
    display: flex;

    .label {
      flex-grow: 1;
      text-transform: uppercase;
      font-weight: 800;
      text-decoration: underline;
      color: #929292;
    }
    .nextevent {
      flex-grow: 4;
      text-align: right;
      color: #929292;
    }
  }


  // decreased default font size on start/end containers
  &.end,
  &.start {
    font-size: 0.9em;
  }
}

.pane__venue-title__jumbo {
  font-size: 2em;
  padding: 0 3em;
}
.pane__venue-title__mini {
  font-size: 0.8em;
}