// Theme, app-level configuration
@import './variables.scss';


// animations
$anim_hoverboxbase: 0.3s;

* {
  box-sizing: border-box;
}

body {
  font-family: $SFontStack;
}

a {
  text-decoration: none;
}