// Theme, app-level configuration

$SFontStack: mr-eaves-sans, Arial, Helvetica, sans-serif;
$ParagraphFont: mr-eaves-sans, Helvetica, sans-serif;
$HeadingFont: quiche-sans, Helvetica, sans-serif;
$MenuLabelsFont: Arial, Helvetica, sans-serif;


// animations
$anim_hoverboxbase: 0.3s;

* {
  box-sizing: border-box;
}

body {
  font-family: $SFontStack;
}

a {
  text-decoration: none;
}