// Theme, app-level globals

/* ************ FONTS ************ */
$SFontStack: mr-eaves-sans, Arial, Helvetica, sans-serif;
$ParagraphFont: mr-eaves-sans, Helvetica, sans-serif;
$HeadingFont: quiche-sans, Helvetica, sans-serif;
$MenuLabelsFont: Arial, Helvetica, sans-serif;



/* ************ LAYOUTS ************ */
$PageContainerMaxWidth: 80em;